<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Propellerhead Test</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="~/css/bootstrap-datepicker3.min.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" 
            asp-fallback-href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css" 
            asp-fallback-href="~/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" 
            asp-fallback-href="~/css/bootstrap-datepicker3.min.css" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Propellerhead</a>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>Propellerhead</h1>
            <p>Technical Test</p>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr>
        <footer>
            <p>&copy; RobyMes 2018</p>
        </footer>
    </div>
    <environment names="Development">
        <script src="~/scripts/json2.js"></script>
        <script src="~/scripts/jquery.min.js"></script>
        <script src="~/scripts/linq.min.js"></script>
        <script src="~/scripts/bootstrap.min.js"></script>
        <script src="~/scripts/bootstrap-datepicker.min.js"></script>
        <script src="~/scripts/bootstrap-datepicker.it.min.js"></script>
        <script src="~/scripts/knockout.js"></script>
        <script src="~/scripts/moment-with-locales.min.js"></script>
        <script src="~/scripts/Bacon.min.js"></script>
        <script src="~/scripts/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/scripts/json2.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" 
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/scripts/linq.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" 
            asp-fallback-src="~/scripts/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" 
            asp-fallback-src="~/scripts/bootstrap-datepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.it.min.js" 
            asp-fallback-src="~/scripts/bootstrap-datepicker.it.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js" 
            asp-fallback-src="~/scripts/knockout.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment-with-locales.min.js" 
            asp-fallback-src="~/scripts/moment-with-locales.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.89/Bacon.min.js" 
            asp-fallback-src="~/scripts/Bacon.min.js"></script>
        <script src="~/scripts/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>